.parent {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 9; }
.div3 { grid-area: 1 / 9 / 2 / 11; }
.div4 { grid-area: 2 / 1 / 6 / 3; }
.div5 { grid-area: 2 / 3 / 6 / 6; }
.div6 { grid-area: 2 / 6 / 6 / 9; }
.div7 { grid-area: 2 / 9 / 6 / 11; }

nav {
	margin: 0 2.5%;
}

form {
	width: 95%;
}

.verb {
	color: red;
}

.noun {
	color: blue;
}

.adv {
	color: orange;
}